In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.utils import shuffle

In [189]:
train_df = pd.read_csv('data/vowel.csv', header=None)

In [190]:
train_df.head()

   0      1      2      3      4      5      6      7      8      9      10
0   0 -3.639  0.418 -0.670  1.779 -0.168  1.627 -0.388  0.529 -0.874 -0.814
1   1 -3.327  0.496 -0.694  1.365 -0.265  1.933 -0.363  0.510 -0.621 -0.488
2   2 -2.120  0.894 -1.576  0.147 -0.707  1.559 -0.579  0.676 -0.809 -0.049
3   3 -2.287  1.809 -1.498  1.012 -1.053  1.060 -0.567  0.235 -0.091 -0.795
4   4 -2.598  1.938 -0.846  1.062 -1.633  0.764  0.394 -0.150  0.277 -0.396

In [191]:
df = shuffle(train_df)
X, y = df.iloc[:,1:], df.iloc[:,0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [192]:
#X, y = train_df.iloc[:,:-1], train_df.iloc[:,-1]

In [193]:
clf = LogisticRegression(random_state=0, solver='lbfgs',
...                          multi_class='ovr').fit(X_train, y_train)

In [194]:
pred = clf.predict(X_test)

In [195]:
confusion_matrix(pred, y_test)

array([[10,  4,  0,  0,  0,  1,  0,  0,  1,  0,  1],
       [ 1,  2,  1,  0,  0,  0,  0,  0,  1,  0,  0],
       [ 0,  1,  5,  0,  0,  0,  2,  0,  0,  0,  0],
       [ 0,  0,  0,  7,  0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  6,  6,  6,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  2,  3,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  1,  0,  3,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  3,  7,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  6,  0,  2],
       [ 1,  0,  0,  0,  0,  0,  0,  1,  2,  8,  0],
       [ 0,  1,  0,  2,  1,  1,  1,  0,  0,  0,  2]])

In [196]:
accuracy_score(pred, y_test)

0.5566037735849056

In [10]:
y.head()

0    2
1    9
2    6
3    0
4    3
Name: label, dtype: int64

In [33]:
X1 = pd.read_csv('data/train_.csv', header=None)
Y1 = pd.read_csv('data/train_label.csv', header = None)

In [197]:
res_train = pd.concat([X_train, y_train], axis=1)
res_test =  pd.concat([X_test, y_test], axis=1)

In [198]:
res_train.head()

        1      2      3      4      5      6      7      8      9      10  0
213 -2.559  2.300  0.408 -0.001 -1.077  0.125 -0.254  0.975  0.070 -0.470   4
396 -3.208 -0.608 -0.516  1.098  1.529  1.069  0.186 -0.947 -0.248 -0.059   0
369 -3.124  2.733 -0.857 -0.334 -0.312  0.587  0.849  0.475 -0.174 -0.899   6
144 -1.012  0.516 -2.041  0.320 -0.634  1.969  0.041  1.414 -0.687  0.047   1
54  -2.596  1.560 -1.249  0.656 -1.095  1.292 -0.550  1.006 -0.150 -0.553  10

In [199]:
df.iloc[:,0].unique()

array([10,  8,  3,  2,  1,  0,  5,  4,  6,  7,  9])

In [200]:
res_train.to_csv('data/vowel_train.csv', index=False, header=None)
res_test.to_csv('data/vowel_test.csv', index=False, header=None)

In [202]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 173 to 478
Data columns (total 10 columns):
1     106 non-null float64
2     106 non-null float64
3     106 non-null float64
4     106 non-null float64
5     106 non-null float64
6     106 non-null float64
7     106 non-null float64
8     106 non-null float64
9     106 non-null float64
10    106 non-null float64
dtypes: float64(10)
memory usage: 9.1 KB